.login {
    width: 100%;
    height: 800px;
    background-color: #34495e;

    /* border: 1px solid black; */
}

.fBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    /* border: 1px solid black; */
}

.mainTitle {
    display: flex;
    align-items: center;

    height: 100%;
    width: 1200px;
    padding: 0px 20px;
    font-size: 30px;
    font-weight: bold;
    color: #f1c40f;

    /* border: 1px solid black; */
}

.font-white {
    color: #dbdbdb;
}

.sBox {
    display: flex;
    justify-content: center;
    height: 600px;

    /* border: 1px solid black; */
}

.menuBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 500px;
    width: 800px;

    /* border: 1px solid black; */
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 80%;
    width: 100%;

    padding: 0px 20px;

    border: 1px solid black;
}

.box1 .imgBox {
    display: flex;
    align-items: end;

    height: 350px;
    width: 100%;
    
    /* border: 1px solid black; */
}

.box1 .navBox {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;

    font-size: 20px;
    gap: 190px;

    /* border: 1px solid black; */
}

.box1 .navBox a {
    color: #f1c40f;
    text-decoration: none;
}

.box2 {
    display: flex;
    align-items: end;
    justify-content: space-between;

    height: 20%;
    width: 100%;

    font-size: 20px;
    padding: 0px 20px;
    color: #fff;

    /* border: 1px solid black; */
}

.box2 a {
    padding: 5px 20px;
    color: #313131;
    background-color: #f1c40f;
    text-decoration: none;

    border: 1px solid #f1c40f;
    /* border-radius: 4px; */
}

.arrow-right {
    color: #313131;
    font-size: 17px;
}

.loginBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 400px;
    height: 500px;

    background-color: #dbdbdb;

    /* border: 1px solid black; */
}

.loginTit {
    display: flex;
    align-items: end;
    justify-content: start;
    
    padding: 0 0 20px 0px;

    height: 30%;
    width: 90%;

    font-size: 25px;
    font-weight: bold;
    
    /* border: 1px solid black; */
}

.loginWrt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 30%;
    width: 90%;

    border: 1px solid black;
}

.idBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 90%;

    /* border: 1px solid black;/ */
}

.idBox .id {
    height: 20px;
    width: 100%;

    font-size: 13px;

    /* border: 1px solid black; */
}

.idBox .idWrt {
    height: 30px;
    width: 100%;

    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;

    cursor: pointer;
}

.idBox .idWrt:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid black;
}

.passBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 90%;

    /* border: 1px solid black; */
}

.passBox .pass {
    position: relative;
    height: 20px;
    width: 100%;

    font-size: 13px;
    /* border: 1px solid black; */
}

.passBox .passWrt {
    height: 30px;
    width: 100%;

    padding-right: 36px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;

    cursor: pointer;
}

.passBox .passWrt:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid black;
}

.passBox .eyeBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-25%);

  background: none;
  border: none;
  cursor: pointer;

  font-size: 14px;
  color: #444;
}

.loginBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 30%;
    width: 90%;

    /* border: 1px solid black; */
}

.loginBtn button {
    width: 100%;
    height: 38px;

    color: white;
    background-color: #313131;

    cursor: pointer;
}

.loginBtn :hover {
    background-color: #555555;
}

.tBox {
    display: flex;
    justify-content: center;
    height: 100px;

    margin-top: 30px; 

    /* border: 1px solid black; */
}
