.systemManage {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 1200px;
    height: 795px;

    /* border: 1px solid black; */
}

/* ------------------------------------------------------------------ */

.systemManage .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 80%;
    height: auto;

    padding: 20px;

    border-left: 1px solid #dbdbdb;
}

.systemManage .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 20px 0px;
    
    /* border: 1px solid black; */
}

.systemManage .titleName {
    font-size: 26px;
    font-weight: bold;
}

.systemManage .title .arrow {
    font-size: 12px;
}

.systemManage .path a{
    font-size: 13px;
    text-decoration: none;
    color: #444;
}

/* ------------------------------------------------------------------ */

.systemManage .accountListBox {
    width: 100%;
    height: auto;
    
    /* border: 1px solid black; */
}

.accountListBox .accountSearch {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 60px;
    background-color: #f4f6f7;

    border: 1px solid #ddd;
}

.accountListBox .selectList {
    width: 100px;
    height: 40px;
    padding: 10px;
}

.accountListBox .searchInput {
    width: 700px;
    height: 40px;
    padding: 0 12px;
    font-size: 14px;
}

.accountListBox .searchBtn {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    height: 40px;
    padding: 0 16px;

    background: inherit;
    cursor: pointer;
    border: 1px solid #767676;
}

/* ------------------------------------------------------------------ */

.accountListBox .userListTable {
    width: 100%;
    height: auto;
    margin-top: 20px;

    /* border: 1px solid black; */
}

.userListTable .boardBox .boardTable th {
    background-color: #f4f6f7;
    color: #333;
    font-size: 14px;
    border-left: none;
    border-right: none;

    padding: 10px 0px;
}

.userListTable .boardBox .boardTable td {
    color: #333;
    font-size: 14px;
    border-left: none;
    border-right: none;
    
    padding: 10px 0px;
}

.userListTable .boardBox .boardTable a {
    color: #333;
    text-decoration: none;
}

/* ------------------------------------------------------------------ */