.pf_body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 1200px;
    height: 100%;
    
    /* border: 1px solid black; */
}

.pf_body .contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 80%;
    height: auto;

    padding: 20px;

    border-left: 1px solid #dbdbdb;
}

.pf_body .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 20px 0px;
    
    /* border: 1px solid black; */
}

.pf_body .titleName {
    font-size: 26px;
    font-weight: bold;
}

.pf_body .title .arrow {
    font-size: 12px;
}

.pf_body .path a{
    font-size: 13px;
    text-decoration: none;
    color: #444;
}

/*--------------------------------------------------- */

.fac_container {
    width: 100%;
    height: 1200px;

    /* border: 1px solid black; */
}

.fac_container .sub_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* 가로 길이 차면 다음줄로 */
    
    width: 100%;
    height: 120px;

    /* border: 1px solid black; */
}

.sub_tab a {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* 글자 줄바꿈 방지 */
    
    height: 50%;
    width: 183px;
    
    font-size: 16px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background-color: #f4f6f7;
    border: 1px solid #ddd;
}

.sub_tab a:hover {
    background-color: #34495e;
    color: #dbdbdb;
}

.sub_tab a.active {
    background-color: #34495e;
    color: #dbdbdb;
}

/*--------------------------------------------------- */

.sub_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: 100%;

    margin-top: 20px;
    font-weight: bold;

    /* border: 1px solid black; */
}

.sub_title {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 30px;
    padding: 0 0 0 20px;
    background-color: #f4f6f7;
    
    border: 1px solid #ddd;
}

.width_extra {
    width: 100%;
    overflow-x: auto;

    /* border: 1px solid black; */
}

.sub_table {
    min-width: 1500px;    /* 원하는 기준폭 */
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    }

.sub_table th {
    padding: 8px 12px;
    text-align: center;
    vertical-align: middle;

    background-color: #f4f6f7;
    color: #333;
    
    border: 1px solid #ddd;
}

.sub_table td {
    padding: 8px 12px;
    text-align: center;
    vertical-align: middle;
    
    border: 1px solid #ddd;
}