.presentInfoPage {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 1200px;
    height: 860px;

    /* border: 1px solid black; */
}

/* ------------------------------------------------------------------ */

.presentInfoPage .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 80%;
    height: auto;

    padding: 20px;

    border-left: 1px solid #dbdbdb;
}

.presentInfoPage .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 20px 0px;

    /* border: 1px solid black; */
}

.presentInfoPage .titleName {
    font-size: 26px;
    font-weight: bold;
}

.presentInfoPage .title .arrow {
    font-size: 12px;
}

.presentInfoPage .path a{
    font-size: 13px;
    text-decoration: none;
    color: #444;
}

/* ------------------------------------------------------------------ */

.presentInfoPage .kpiCardBox {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 16px;
    width: 100%;

    /* border: 1px solid black; */
}

.presentInfoPage .kpiCard {
    /* 내부 배치 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 92px;

    background: #fff;
    padding: 14px 16px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.06);
    
    border: 1px solid #e6e6e6;
    border-radius: 8px;
}

/* 카드 상단(타이틀/서브) */
.presentInfoPage .kpiTitle {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;

    /* border: 1px solid black; */
}

.kpiTitle .topLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    /* border: 1px solid black; */
}

.presentInfoPage .kpiLabel {
    font-size: 14px;
    font-weight: bold;
    color: #222;
    
    /* border: 1px solid black; */
}

.kpiTitle .kpiInfo {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #9e9e9e;

    /* border: 1px solid black; */
}

.tooltip {
    position: absolute;
    bottom: 130%;
    right: 0;
    transform: translateX(0);

    padding: 6px 8px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;

    z-index: 999;
    background: #dbdbdb;
    color: #444;

    /* border: 1px solid black; */
}

.kpiTitle .kpiInfo:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.presentInfoPage .kpiSub {
    font-size: 12px;
    color: #777;

    /* border: 1px solid black; */
}

.presentInfoPage .kpiValue {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #111;
    /* text-align: right; */

    border-top: 1px solid #e6e6e6;
}

/* ------------------------------------------------------------------ */

.subTitle {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    width: 100%;
    height: 50px;

    margin-top: 20px;

    border-bottom: 1px solid #dbdbdb;
}

.subTitle button {
    height: 50px;

    cursor: pointer;

    padding: 5px 15px;

    background-color: inherit;
    border: 1px solid #dbdbdb;
    border-bottom: none;
}

.subTitle button.active {
    border: 1px solid black;
}

/* ------------------------------------------------------------------ */

.presentInfoPage .moniteringBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 550px;
    
    /* margin-top: 20px; */
    
    /* border: 1px solid black; */
}

.presentInfoPage .moniteringBox .monitering {
    width: 696.5px;
    height: 500px;

    border: 1px solid #dbdbdb;
}

.presentInfoPage .moniteringBox .moniteringList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 210px;
    height: 500px;
    max-height: 500px;
    overflow: auto;
    scrollbar-width: thin;
    
    padding-top: 10px;
    gap: 10px;

    border: 1px solid #dbdbdb;
}

.moniteringBox .accessBox {
    display: flex;
    align-content: center;
    justify-content: center;

    /* border: 1px solid black; */
}

.presentInfoPage .moniteringBox .accessBox span {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 150px;
    height: 40px;

    padding-left: 10px;

    /* border: 1px solid black; */
}

.presentInfoPage .moniteringBox .accessBox label {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 100%;

    font-size: 23px;
    color: black;

    /* border: 1px solid black; */
}