.ideaOfferPage {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 1200px;
    height: 817px;
}

.ideaOfferPage .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 80%;
    height: auto;

    padding: 20px;

    border-left: 1px solid #dbdbdb;
}

.ideaOfferPage .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 20px 0px;

    /* border: 1px solid black; */
}

.ideaOfferPage .titleName {
    font-size: 26px;
    font-weight: bold;
}

.ideaOfferPage .title .arrow {
    font-size: 12px;
}

.ideaOfferPage .path a{
    font-size: 13px;
    text-decoration: none;
    color: #444;
}

/* ------------------------------------------------------------------ */

.ideaOfferPage .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 700px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.ideaOfferPage .contentsImg {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 65%;

    /* border: 1px solid black; */
}
.ideaOfferPage .contentsText {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 20%;
    
    color: #333;
    font-weight: bold;
    
    /* border: 1px solid black; */
}
.ideaOfferPage .contentsBtn {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 15%;
    
    /* border: 1px solid black; */
}

.ideaOfferPage .contentsBtn a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 130px;
    height: 40px;

    background-color: #34495e;
    color: white;

    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    border-radius: 5px;
    border: none;
}

.ideaOfferPage .contentsBtn a:hover {
    background-color: #dbdbdb;
    color: #333;
    font-weight: bold;
}

.ideaOfferPage .contentsBtn a:nth-child(2) {
    margin-left: 10px;
}

