.fieldSensorPage {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 1200px;
    height: auto;

    /* border: 1px solid black; */
}

/* ------------------------------------------------------------------ */

.fieldSensorPage .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 80%;
    height: auto;

    padding: 20px;

    border-left: 1px solid #dbdbdb;
}

.fieldSensorPage .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 20px 0px;

    /* border: 1px solid black; */
}

.fieldSensorPage .titleName {
    font-size: 26px;
    font-weight: bold;
}

.fieldSensorPage .title .arrow {
    font-size: 12px;
}

.fieldSensorPage .path a{
    font-size: 13px;
    text-decoration: none;
    color: #444;
}

/* ------------------------------------------------------------------ */

.fieldSensorPage .kpiCardBox {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 16px;
    width: 100%;

    /* border: 1px solid black; */
}

.fieldSensorPage .kpiCard {
    /* 내부 배치 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 92px;

    background: #fff;
    padding: 14px 16px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.06);
    
    border: 1px solid #e6e6e6;
    border-radius: 8px;
}

/* 카드 상단(타이틀/서브) */
.fieldSensorPage .kpiTitle {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;

    /* border: 1px solid black; */
}

.kpiTitle .topLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    /* border: 1px solid black; */
}

.fieldSensorPage .kpiLabel {
    font-size: 14px;
    font-weight: bold;
    color: #222;
    
    /* border: 1px solid black; */
}

.kpiTitle .kpiInfo {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #9e9e9e;

    /* border: 1px solid black; */
}

.tooltip {
    position: absolute;
    bottom: 130%;
    right: 0;
    transform: translateX(0);

    padding: 6px 8px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;

    z-index: 999;
    background: #dbdbdb;
    color: #444;

    /* border: 1px solid black; */
}

.kpiTitle .kpiInfo:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.fieldSensorPage .kpiSub {
    font-size: 12px;
    color: #777;

    /* border: 1px solid black; */
}

.fieldSensorPage .kpiValue {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #111;
    /* text-align: right; */

    border-top: 1px solid #e6e6e6;
}

/* ------------------------------------------------------------------ */

.contents .sight {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 500px;

    margin-top: 20px;

    /* border: 1px solid black; */
}

.sight .sightScreen {
    width: 73%;
    height: 100%;

    border: 1px solid black;
}

.sight .sightState {
    display: flex;
    flex-direction: column;

    padding: 10px;

    width: 25%;
    height: 100%;

    font-size: 14px;
    overflow-y: auto;
    scrollbar-width: thin;

    border: 1px solid #dbdbdb;
}

.sight .sightState label {
    margin-bottom: 5px;
}

.sight .sightState label.emphasis{
    color: #ff8001;
    font-weight: bold;

}
.sight .sightState label.overemphasis{
    color: red;
    font-weight: bold;
    padding-left: 5px;
    border-left: 2px solid red;
}

/* ------------------------------------------------------------------ */

.fieldSensorPage .contents .subTitle {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    width: 100%;
    height: 50px;

    margin-top: 20px;

    border-bottom: 1px solid #dbdbdb;
}

.fieldSensorPage .contents .subTitle button {
    height: 50px;
    width: 120px;

    cursor: pointer;

    padding: 5px 15px;

    background-color: inherit;
    border: 1px solid #dbdbdb;
    border-bottom: none;
}

.fieldSensorPage .contents .subTitle button.active {
    border: 1px solid black;
}

/* ------------------------------------------------------------------ */

.contents .sensorListTable {
    width: 100%;
    height: auto;

    /* margin-top: 20px; */

    /* border: 1px solid black; */
}

.sensorListTable .boardTable {
    width: 100%;
    border-collapse: collapse;
}

.sensorListTable .boardTable th {
    background-color: #f4f6f7;
    color: #333;
    font-size: 14px;
    border-left: none;
    border-right: none;

    padding: 10px 0px;
}

.sensorListTable .boardTable td {
    color: #333;
    font-size: 14px;
    border-left: none;
    border-right: none;
    
    padding: 10px 0px;
}

.sensorListTable .boardTable a {
    color: #333;
    text-decoration: none;
}