.industryBody {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 1200px;
    height: 100%;

    border: 1px solid black;
}

.industryBody .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 80%;
    height: auto;

    padding: 20px;

    border-left: 1px solid #dbdbdb;
}

.industryBody .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 20px 0px;

    /* border: 1px solid black; */
}

.industryBody .titleName {
    font-size: 26px;
    font-weight: bold;
}

.industryBody .title .arrow {
    font-size: 12px;
}

.industryBody .path a{
    font-size: 13px;
    text-decoration: none;
    color: #444;
}